/*
Colour Blend
#101723 : Eerie Black
#D16014 : Alloy Orange
#EEDF3D : Sandstorm
#28502E : Cal Poly Pomona Green
#47682C : Deep Spring Bud
*/

/* HEADER */
header{
    background-color: #101723;
    z-index: 10;
    height: 62px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px white;
    float: left;
}

/* FOOTER */
footer {
    background-color: #101723;
    z-index: 9;
    height: 42px;
    width: 100%;
    position: fixed;
    bottom: 1px;
    left: 0px;
    color: white;
    margin-bottom: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px white;
}

/* BACKGROUND */
body{
    /*background-image: url(background.jpg);
    background-size: cover;*/
    background-color: #B56357;
    margin-bottom: 48px;
    z-index: 5;
}

/* NAVIGATION BAR*/
nav ul {
    list-style-type: none;
    overflow: hidden;
}
nav li {
    float: left;
    /*background-color: #333;*/
}

nav li a {
    display: block;
    color: black;

}

nav li a :hover {
    color: darkred;
    /*background-color: #111;*/
}

h1{
    margin: auto;
    font-family: 'Tangerine', cursive;
    font-size: 2.5em;
    padding: 10px;
    color: #D16014;
}

h2{
    margin: 0px;
    padding: 12px;
}

#leftDiv{
    position: fixed;
    left: 0%;
    text-align: center;
    width: 33%;
    height: 62px;
    font-family: 'Arima Madurai', cursive;
    margin: 0;
}
#centreDiv{
    position: fixed;
    left: 33%;
    text-align: center;
    width: 33%;
    color: #A7B3A5;
    height: 62px;
}
#rightDiv{
    position: fixed;
    left: 66%;
    text-align: center;
    width: 33%;
    font-family: 'Arima Madurai', cursive;
    height: 62px;
}

#checkAvailAndBook{
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
}