/*
Colour Blend
Rust: #B56357
Mint: #B4D8C0
Slate: #EAE3EA
Seafoam: #A7B3A5
*/

/* HEADER */
header{
    background-color: #EAE3EA;
    z-index: 10;
    height: 62px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    margin-bottom: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px white;
    float: left;
}

/* FOOTER */
footer {
    background-color: #EAE3EA;
    z-index: 9;
    height: 42px;
    width: 100%;
    position: fixed;
    bottom: 1px;
    left: 0px;
    color: white;
    margin-bottom: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px white;
}

/* BACKGROUND */
body{
    /*background-image: url(background.jpg);
    background-size: cover;*/
    background-color: #B56357;
    margin-bottom: 48px;
    z-index: 5;
}

/* NAVIGATION BAR*/
nav ul {
    list-style-type: none;
    overflow: hidden;
}
nav li {
    float: left;
    /*background-color: #333;*/
}

nav li a {
    display: block;
    color: black;

}

nav li a :hover {
    color: darkred;
    /*background-color: #111;*/
}

h1{
    margin: 0px;
    font-family: 'Tangerine', cursive;
    font-size: 2.5em;
}

.leftDiv{
    position: fixed;
    left: 0%;
    text-align: center;
    width: 33%;
    height: 62px;
}
.centreDiv{
    position: fixed;
    left: 33%;
    text-align: center;
    width: 33%;
    color: #A7B3A5;

    height: 62px;

}
.rightDiv{
    position: fixed;
    left: 66%;
    text-align: center;
    width: 33%;
    font-family: 'Arima Madurai', cursive;
    height: 62px;
}

#checkAvailAndBook{
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
}